{% extends "blog/base.html" %}

{% block content %}
    {% for review in reviews %}
        {{ review.name }}
        {{review.content }}
        {{review.date_added}}
        {{ review.grade }}
        {% empty %}
            <p>Отзывов пока нету, напишите первый отзыв о нас)</p>
    {% endfor %}

    <main>
        <header>
            <h1>pseudo-commas</h1>
        </header>
        <section>
             <p>There were times when you probably wanted to show your list items in a paragraph or in a statement. There must be commas and 'and's at appropriate places. That is why pseudo-commas were born. Of course, we could get brute force with fewer* lines of JavaScript, but there is no harm to give it a shot-in-wild with CSS (●'◡'●)</p>
    
            <input checked id="toggle-pseudos" type="checkbox"/>
            <label for="toggle-pseudos">Toggle pseudos(⌐■_■)</label>
    
            <input id="highlight-pseudos" type="checkbox"/>
            <label for="highlight-pseudos">Highlight pseudos(◉_◉)</label>
    
            <div class="container">
                <section>
                    <h2>single-item</h2>
                    <div>I want to have
                        <ul>
                            <li>a cup of coffee</li>
                        </ul>
                    </div>
                </section>
    
                <section>
                    <h2>two-items</h2>
                    <div>I would invite
                        <ul>
                            <li>Jim</li>
                            <li>Tobu</li>
                        </ul>
                    </div>
                </section>
    
                <section>
                    <h2>three-items</h2>
                    <div>I want to learn
                        <ul>
                            <li>bicycling</li>
                            <li>singing</li>
                            <li>dancing</li>
                        </ul>
                    </div>
                </section>
    
                <section>
                    <h2>four-items</h2>
                    <div>My preferred programming languages are
                        <ul>
                            <li>CSS</li>
                            <li>TypeScript</li>
                            <li>C</li>
                            <li>Ruby</li>
                        </ul>
                    </div>
                </section>
    
                <section>
                    <h2>many-items</h2>
                    <div>My best friends are
                        <ul>
                            <li>Prit</li>
                            <li>Aditi</li>
                            <li>Charu</li>
                            <li>Srushti</li>
                            <li>Sellami</li>
                            <li>Gourav</li>
                            <li>Chris</li>
                            <li>Nazanin</li>
                            <li>Zeenat</li>
                            <li>Josias</li>
                            <li>Toshiya</li>
                        </ul>
                    </div>
                </section>
            </div>
        </section>
    </main>

{% endblock content%}